---
http_interactions:
- request:
    method: post
    uri: https://sandbox3.payture.com/apicheque/Create
    body:
      encoding: UTF-8
      string: '{"Key":"MerchantId","Password":"1234","Message":"test","Cheque":{"Id":"busfor-123","INN":7710140679,"Content":{"Type":1,"Positions":[{"Quantity":1.0,"Price":111.45,"Tax":1,"Text":"Булка"}],"CheckClose":{"Payments":[{"Type":1,"Amount":123.45}],"TaxationSystem":1},"CustomerContact":"nikita.popovsky@payture.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"ErrCode":null,"ErrMessages":null,"Status":"Conflict"}'
  recorded_at: Tue, 05 Dec 2017 13:21:22 GMT
recorded_with: VCR 2.9.3
